{% extends "base.html" %}

{% block title %}What Is the OSI model?{% endblock %}

{% block content %}


<div style="background: #fafafa; padding: 1.5rem; border-left: 6px solid #e0e0e0;">
  <h3 style="font-family: Georgia, serif;  font-size: 30px;">How do you as a user, send an email? Then a recipient recieve it?</h3>


  <div style="font-family: 'Segoe UI', sans-serif;">
    <p style="font-size: 25px;"> That is done by following the <em>OSI</em>  model.</p>
    <ul>
      <p style="font-size: 17px;">When you want to access lets say; Youtube, what you input (send) and recieve flows down and up through the OSI model.</p>
    </ul>
    <hr>
    <u1>
      <p style="font-size: 20px;"> There are 7 layers in this model and you go up and down this model to send & recieve data, and we will go through it step by step. </p>
      </li>
    </u1>
    </p>

    <p>
    <u1>
      <li style="font-size: 18px; margin-left: 1.5rem;">When you are sending data this is called <strong>encapsulation</strong></li>
      <li style="font-size: 18px; margin-left: 1.5rem;">When you are receiving data this is called <strong>de-encapsulation</strong></li>
      <li style="font-size: 18px; margin-left: 2rem;">This is the base of how <em>sending and recieving,</em> data works.</li>
    </ul>
    <p>
            
    </p>
    <h3 style=" margin-left: .5rem;"></p> ↳ Encapsulation (sending side data) flow, <em>Happens first.</em></h3>
    <nav>
        <a href="/osi-application-layer" style="margin-left: 1rem; font-size: 18px;"> Application Layer</a>
        <a href="/osi-presentation-layer" style="margin-left: 1rem; font-size: 18px;"> Presentation Layer</a>
        <a href="/osi-session-layer" style="margin-left: 1rem; font-size: 18px;"> Session Layer</a>
        <a href="/osi-transport-layer" style="margin-left: 1rem; font-size: 18px;"> Transport Layer</a>
        <a href="/osi-network-layer" style="margin-left: 1rem; font-size: 18px;"> Network Layer</a>
        <a href="/osi-data-link-layer" style="margin-left: 1rem; font-size: 18px;"> Data Link Layer</a>
        <a href="/osi-physical-layer" style="margin-left: 1rem; font-size: 18px;"> Physical Layer</a>
    </nav>
    <h3 style=" margin-left: .5rem;"> ↳ De-encapsulation (receiving side data) flow, <em>Happens second.</em></h3>
    <nav>
        <a href="/osi-physical-layer" style="margin-left: 1rem; font-size: 18px;"> Physical Layer</a>
        <a href="/osi-data-link-layer" style="margin-left: 1rem; font-size: 18px;"> Data Link Layer</a>
        <a href="/osi-network-layer" style="margin-left: 1rem; font-size: 18px;"> Network Layer</a>
        <a href="/osi-transport-layer" style="margin-left: 1rem; font-size: 18px;"> Transport Layer</a>
        <a href="/osi-session-layer" style="margin-left: 1rem; font-size: 18px;"> Session Layer</a>
        <a href="/osi-presentation-layer" style="margin-left: 1rem; font-size: 18px;"> Presentation Layer</a>
        <a href="/osi-application-layer" style="margin-left: 1rem; font-size: 18px;"> Application Layer</a>
    </nav>
  </div>
</div>
{% endblock %}