<hr>
<div style="background: rgb(247, 255, 251); padding: 1rem; border-left: 6px solid rgb(215, 255, 238);">
  <h4 style="font-family: Georgia, serif;">What is a Subnet?</h4>
  <div class="description-text" style="margin-left: 2rem;">
    <ul>
      <li>
        A <strong>subnet</strong> is short for a sub-section network — a network is a collection of devices you own the IPs of.
      </li>
      <li>
        Subnets allow communication <em>without needing access to the internet</em>.
      </li>
      <li>
        Networks typically give out <em>really large ranges of given IPs</em>.
      </li>
      <li>
        You do not <strong>need OR want</strong> every device in that range to talk to each other <em>directly</em>.
      </li>
      <li>
        This means <em>you don't want every IP you own on the same subnet</em>.
      </li>
    </ul>
  </div>
</div>
</hr>